 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am majoring in visual communication during my Bachelor degree, good illustrations, icons, print posters, promotional design, media design and so on. At the same time I also research interactive design, multiple pages, app interface design.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am also good use of sketch, principle and other interactive software, familiar with user process analysis, Pain points analysis, desktop research, character interviews and other interactive research content.</p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>